<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-default"  style="">
  <div class="container-fluid">
    <div class="navbar-header">
     <a class="navbar-brand" href="" style="font-family: 'Lobster', cursive; font-size:35px;color:;">  Finance Neural system</a>
   </div>
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=""><a href=""  style="font-family: 'Lobster', cursive;font-size:30px;"><span class="sr-only">(current)</span></a></li>
        <li class=""><a href="" style="font-family: 'Lobster', cursive;font-size:20px;"><span class="sr-only"></span></a></li>

      </ul>


      <div class="col-sm-4 col-md-4 navbar-right">











  </div>
</div>
</nav>
</body>
</html>
